In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

red_wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', sep = ';')
white_wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv', sep = ';')

# create a new variable 'wine_type'
red_wine['wine_type'] = 'red'
white_wine['wine_type'] = 'white'


# bucket wine quality scores into qualitative quality labels
red_wine['quality_label'] = red_wine['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')

red_wine['quality_label'] = pd.Categorical(red_wine['quality_label'],
categories=['low', 'medium', 'high'])

white_wine['quality_label'] = white_wine['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')

white_wine['quality_label'] = pd.Categorical(white_wine['quality_label'],
categories=['low', 'medium', 'high'])

wines = pd.concat([red_wine, white_wine])

In [2]:
wines.shape

(6497, 14)

In [9]:
wines.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
wine_type               0
quality_label           0
dtype: int64

In [10]:
pwd

'c:\\Users\\Karsten Werner\\Documents\\Python\\git\\antelope'

In [12]:
wine_sales = pd.read_csv('wine_sales_data.csv')

In [14]:
wine_sales.isnull().sum()

Unnamed: 0         0
country            5
description        0
designation    45735
points             0
price          13695
province           5
region_1       25060
region_2       89977
variety            0
winery             0
dtype: int64

In [34]:
winw_sales_red = wine_sales[['country','province','points','price']]

In [35]:
winw_sales_red.isnull().sum()

country         5
province        5
points          0
price       13695
dtype: int64

In [36]:
winw_sales_red.shape

(150930, 4)

In [37]:
winw_sales_red.head

<bound method NDFrame.head of        country            province  points  price
0           US          California      96  235.0
1        Spain      Northern Spain      96  110.0
2           US          California      96   90.0
3           US              Oregon      96   65.0
4       France            Provence      95   66.0
...        ...                 ...     ...    ...
150925   Italy      Southern Italy      91   20.0
150926  France           Champagne      91   27.0
150927   Italy      Southern Italy      91   20.0
150928  France           Champagne      90   52.0
150929   Italy  Northeastern Italy      90   15.0

[150930 rows x 4 columns]>

In [43]:
port_vv = winw_sales_red[(winw_sales_red['country'] == 'Portugal') & (winw_sales_red['province'] == 'Vinho Verde')]

In [44]:
port_vv.shape

(396, 4)

In [45]:
port_vv.isnull().sum()

country      0
province     0
points       0
price       86
dtype: int64

In [46]:
port_vv

         country     province  points  price
277     Portugal  Vinho Verde      92   35.0
993     Portugal  Vinho Verde      85   10.0
994     Portugal  Vinho Verde      85    9.0
1378    Portugal  Vinho Verde      91    NaN
1558    Portugal  Vinho Verde      84   10.0
...          ...          ...     ...    ...
141129  Portugal  Vinho Verde      83    9.0
141143  Portugal  Vinho Verde      82    8.0
141148  Portugal  Vinho Verde      82    6.0
143472  Portugal  Vinho Verde      86    9.0
143575  Portugal  Vinho Verde      87   15.0

[396 rows x 4 columns]

In [50]:
port_vv_clean = port_vv.dropna()

In [52]:
port_vv_clean.isnull().sum()

country     0
province    0
points      0
price       0
dtype: int64

In [53]:
from scipy.stats import iqr

iqr(port_vv_clean['price'])

5.0

In [54]:
iqr?

Signature:
iqr(
    x,
    axis=None,
    rng=(25, 75),
    scale=1.0,
    nan_policy='propagate',
    interpolation='linear',
    keepdims=False,
)
Docstring:
Compute the interquartile range of the data along the specified axis.

The interquartile range (IQR) is the difference between the 75th and
25th percentile of the data. It is a measure of the dispersion
similar to standard deviation or variance, but is much more robust
against outliers [2]_.

The ``rng`` parameter allows this function to compute other
percentile ranges than the actual IQR. For example, setting
``rng=(0, 100)`` is equivalent to `numpy.ptp`.

The IQR of an empty array is `np.nan`.

.. versionadded:: 0.18.0

Parameters
----------
x : array_like
    Input array or object that can be converted to an array.
axis : int or sequence of int, optional
    Axis along which the range is computed. The default is to
    compute the IQR for the entire array.
rng : Two-element sequence containing floats in range of [0,100] optional
    Percentiles over which to compute the range. Each must be
    between 0 and 100, inclusive. The default is the true IQR:
    `(25, 75)`. The order of the elements is not important.
scale : scalar or str, optional
    The numerical value of scale will be divided out of the final
    result. The following string values are recognized:

      * 'raw' : No scaling, just return the raw IQR.
        **Deprecated!**  Use `scale=1` instead.
      * 'normal' : Scale by
        :math:`2 \sqrt{2} erf^{-1}(\frac{1}{2}) \approx 1.349`.

    The default is 1.0. The use of scale='raw' is deprecated.
    Array-like scale is also allowed, as long
    as it broadcasts correctly to the output such that
    ``out / scale`` is a valid operation. The output dimensions
    depend on the input array, `x`, the `axis` argument, and the
    `keepdims` flag.
nan_policy : {'propagate', 'raise', 'omit'}, optional
    Defines how to handle when input contains nan.
    The following options are available (default is 'propagate'):

      * 'propagate': returns nan
      * 'raise': throws an error
      * 'omit': performs the calculations ignoring nan values
interpolation : {'linear', 'lower', 'higher', 'midpoint', 'nearest'}, optional
    Specifies the interpolation method to use when the percentile
    boundaries lie between two data points `i` and `j`.
    The following options are available (default is 'linear'):

      * 'linear': `i + (j - i) * fraction`, where `fraction` is the
        fractional part of the index surrounded by `i` and `j`.
      * 'lower': `i`.
      * 'higher': `j`.
      * 'nearest': `i` or `j` whichever is nearest.
      * 'midpoint': `(i + j) / 2`.

keepdims : bool, optional
    If this is set to `True`, the reduced axes are left in the
    result as dimensions with size one. With this option, the result
    will broadcast correctly against the original array `x`.

Returns
-------
iqr : scalar or ndarray
    If ``axis=None``, a scalar is returned. If the input contains
    integers or floats of smaller precision than ``np.float64``, then the
    output data-type is ``np.float64``. Otherwise, the output data-type is
    the same as that of the input.

See Also
--------
numpy.std, numpy.var

Notes
-----
This function is heavily dependent on the version of `numpy` that is
installed. Versions greater than 1.11.0b3 are highly recommended, as they
include a number of enhancements and fixes to `numpy.percentile` and
`numpy.nanpercentile` that affect the operation of this function. The
following modifications apply:

Below 1.10.0 : `nan_policy` is poorly defined.
    The default behavior of `numpy.percentile` is used for 'propagate'. This
    is a hybrid of 'omit' and 'propagate' that mostly yields a skewed
    version of 'omit' since NaNs are sorted to the end of the data. A
    warning is raised if there are NaNs in the data.
Below 1.9.0: `numpy.nanpercentile` does not exist.
    This means that `numpy.percentile` is used regardless of `nan_policy`
    and a warning is issued. See previous item for a description of the
    behavior.
Below 1.9.0: `keepdims` and `interpolation` are not supported.
    The keywords get ignored with a warning if supplied with non-default
    values. However, multiple axes are still supported.

References
----------
.. [1] "Interquartile range" https://en.wikipedia.org/wiki/Interquartile_range
.. [2] "Robust measures of scale" https://en.wikipedia.org/wiki/Robust_measures_of_scale
.. [3] "Quantile" https://en.wikipedia.org/wiki/Quantile

Examples
--------
>>> from scipy.stats import iqr
>>> x = np.array([[10, 7, 4], [3, 2, 1]])
>>> x
array([[10,  7,  4],
       [ 3,  2,  1]])
>>> iqr(x)
4.0
>>> iqr(x, axis=0)
array([ 3.5,  2.5,  1.5])
>>> iqr(x, axis=1)
array([ 3.,  1.])
>>> iqr(x, axis=1, keepdims=True)
array([[ 3.],
       [ 1.]])
File:      c:\programdata\anaconda3\lib\site-packages\scipy\stats\stats.py
Type:      function

In [57]:
port_vv_clean.drop(['country', 'province'], axis = 1, inplace = True)

In [59]:
port_vv_clean.describe()

           points       price
count  310.000000  310.000000
mean    86.351613   11.400000
std      2.512541    4.821205
min     80.000000    5.000000
25%     84.000000    8.000000
50%     86.000000   10.000000
75%     88.000000   13.000000
max     92.000000   45.000000

In [60]:
port_vv_clean.drop?

Signature:
port_vv_clean.drop(
    labels=None,
    axis=0,
    index=None,
    columns=None,
    level=None,
    inplace=False,
    errors='raise',
)
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by specifying directly index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    inplace and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame
    DataFrame without the removed index or column labels.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
lama    speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [61]:
quartz = port_vv_clean[ (port_vv_clean['price'] >= 8)
                & (port_vv_clean['price'] <= 13) ].index
port_vv_clean.drop(quartz , inplace=True)

In [62]:
port_vv_clean

        points  price
277         92   35.0
2923        90   19.0
6621        88   21.0
6819        88   21.0
10626       84    6.0
...        ...    ...
140272      84    7.0
140543      84    7.0
140821      84    6.0
141148      82    6.0
143575      87   15.0

[112 rows x 2 columns]